.margin-sm {
  margin: 10px !important;
}
.margin-top-md {
  margin-top: 20px !important;
}
.margin-top-lg {
  margin-top: 40px !important;
}
.margin-top-xl {
  margin-top: 100px !important;
}

.no-padding {
  padding: 0 !important;
}
